.footer {
  padding: 1rem 0;
  text-align: center;
}

.footer-line {
  border-top: 1px solid rgba(6, 46, 111, 0.136);
  margin: 0 9%;
  padding-top: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.3rem 9%;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-social-icon {
  color: rgb(92, 92, 92);
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-social-icon:hover {
  color: rgb(18, 18, 18);
}

.footer-copy {
  font-size: 1rem;
  color: #555;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  .footer-line {
    margin: 0 5%;
  }
}
