.contact-container {
  max-width: 700px;
  margin: 0 auto;
}

.contact-inner-container{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.contact-inner-container.appear {
  opacity: 1;
  transform: translateY(0);
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.social-icon {
  font-size: 2rem;
  color: rgb(6, 46, 111);
  transition: color 0.3s;
}

.social-icon:hover {
  color: rgba(6, 46, 111, 0.74); 
}

.contact-container h2 {
  margin-bottom: 2rem;
}

.contact-text {
  text-align: center;
  font-size: 1.03rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.768);
}

.humor-text {
  margin-top: 1.2rem;
  font-style: italic;
  color: #555;
}
