.project-description-block1 {
  margin: 4vmax 4vmax 2vmax;
  background-color: rgb(248, 250, 253);
  border-radius: 20px;
}

.description-title {
  margin-bottom: 40px;
  padding-top: 10px;
}

.description-title .name {
  margin: 0;
  padding: 0;
}

.pd-btn-container {
  margin-top: 2vmax;
}

.pd-btn-link {
  text-decoration: none;
  color: rgb(6, 46, 111);
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-disabled a {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3); /* Adjust color as needed */
}

.btn-link-disabled {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3); /* Adjust color as needed */
}

.pd-grid-default-parent {
  padding: 0 72px;
  margin: auto;
  max-width: 1440px;
  padding-bottom: 5vmax;
}

.pd-grid-default {
  grid-column-gap: 64px;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  display: -ms-grid;
  /* gap: 64px; */
}

/* .pd-fifty-fifty-text-image--reversed .pd-fifty-fifty-text-image__text-wrapper {
    padding: 0 5px;
  } */

.pd-fifty-fifty-text-image__text-wrapper {
  grid-row: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.pd-fifty-fifty-text-image .pd-eyebrow {
  border-radius: 4px;
  font-weight: 700;
  margin-bottom: 8px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.6875rem;
  color: #041e49;
  background-color: #d3e3fd;
}

.pd-fifty-fifty-text-image__eyebrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pd-eyebrow {
  color: #202125;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.pd-fifty-fifty-text-image__heading {
  font-weight: 500;
  margin: 8px 0 16px;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #1f1f1f;
}

.pd-fifty-fifty-text-image .pd-copy {
  font-family: "Google Sans Text", arial, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #474747;
}

.pd-fifty-fifty-text-image__list {
  margin: 5px 0 0;
  padding-inline-start: 17px;
  list-style-type: none;
}

.pd-fifty-fifty-text-image .pd-copy {
  font-family: "Google Sans Text", arial, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #474747;
}

.pd-fifty-fifty-text-image--reversed .pd-fifty-fifty-text-image__text-wrapper {
  grid-column: 7 / span 6;
  padding: 0 64px;
}

.pd-fifty-fifty-text-image--reversed .pd-fifty-fifty-text-image__image-wrapper {
  grid-column: 1 / span 6;
}

.pd-fifty-fifty-text-image__image-wrapper {
  grid-column: 7 / span 6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.pd-fifty-fifty-text-image__image-wrapper img {
  height: auto;
  width: 100%;
}
.pd-fifty-fifty-text-image__image {
  border-radius: 24px;
  width: 100%;
}

.project-description-block2 {
  margin: 4vmax 4vmax 2vmax;
}

.grid-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2vmax;
}

.grid-gallery__full-image {
  width: 100%;
  display: flex;
  margin-bottom: 1vmax;
}

.grid-gallery__full-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.grid-gallery__half-images {
  display: flex;
  gap: 25px;
}

.grid-gallery__half-images img {
  width: calc((100% - 25px) / 2);
  object-fit: cover;
  border-radius: 20px;
}

.challenges__container {
  margin-bottom: 3vmax;
}

.challenges__container h3 {
  color: rgb(6, 46, 111);
}

.challenges__container ul li, .challenges__container p {
  padding: 0.3vmax;
  font-size: 1.1rem;
}

.challenges__container ul li span{
  /* color: rgb(79, 143, 246); */
  font-size: 1.2rem;
  font-weight: 500;
}

.custom-swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.custom-swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.swiper-slide {
  min-width: 100%;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.337);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.452);
}





/* Tablet view */
@media (max-width: 1024px) {
  .pd-grid-default {
    gap: 32px;
  }

  .pd-fifty-fifty-text-image__text-wrapper {
    grid-column: 1 / span 6;
  }

  .pd-fifty-fifty-text-image--reversed
    .pd-fifty-fifty-text-image__text-wrapper {
    grid-column: 7 / span 6;
    padding: 0;
  }

  .pd-fifty-fifty-text-image__image-wrapper {
    grid-column: 7 / span 6;
  }

  .pd-fifty-fifty-text-image--reversed
    .pd-fifty-fifty-text-image__image-wrapper {
    grid-column: 1 / span 6;
  }
  
  .grid-gallery__full-image img {
    border-radius: 8px;
  }

  .grid-gallery__half-images img {
    border-radius: 8px;
  }

  .carousel-container {
    width: 85%;
  }
  
  .swiper-slide {
    padding: 8px;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .project-description-block1 {
    margin: 9vmax 2vmax 0 2vmax;
  }

  .pd-fifty-fifty-text-image {
    padding-bottom: 2vmax;
  }

  .pd-grid-default-parent {
    padding: 0 20px;
    max-width: none;
    margin-bottom: 4vmax;
  }

  .pd-grid-default {
    gap: 16px;
    grid-template-columns: 1fr;
    display: block;
  }

  .pd-fifty-fifty-text-image__text-wrapper,
  .pd-fifty-fifty-text-image__image-wrapper {
    grid-column: 1 / -1;
  }

  .pd-fifty-fifty-text-image__text-wrapper {
    padding: 0 10px;
    text-align: left; /* Left-align all text */
  }

  .pd-fifty-fifty-text-image__image-wrapper {
    margin-top: 20px;
  }

  .pd-fifty-fifty-text-image--reversed
    .pd-fifty-fifty-text-image__image-wrapper {
    grid-column: 1 / span 6;
  }

  .pd-fifty-fifty-text-image__image-wrapper,
  .pd-fifty-fifty-text-image__text-wrapper {
    padding: 0;
  }

  .pd-btn-container {
    margin-top: 20px;
  }

  .project-description-block2 {
    margin: 3vmax 2vmax 0 2vmax;
  }

  .grid-gallery {
    gap: 6px;
  }
  
  .grid-gallery__full-image img {
    border-radius: 8px;
  }

  .grid-gallery__half-images {
    gap: 6px;
  }
  
  .grid-gallery__half-images img {
    border-radius: 8px;
    width: calc((100% - 6px) / 2);
  }
  
  .carousel-container {
    width: 100%;
  }
  
  .swiper-slide {
    padding: 0px;
  }
}
