section {
  padding-top: 7vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 380px;
  width: 380px;
  margin: auto 0;
}

.section__pic-container img {
  border-radius: 50%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease;
}

.section__pic-container img:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.section__text {
  padding-top: 10vh;
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 450;
}

.section__text__p1 {
  text-align: center;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.853);
}

.section__text__p1 span {
  color: rgb(79, 143, 246);
  font-weight: 500;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  color: rgb(74, 74, 74);
}

.title {
  padding-top: 0.7rem;
  font-size: 3rem;
  text-align: center;
  /* display: inline-block; */
  color: rgb(6, 46, 111);
}

.name {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  font-size: 2rem;
  display: inline-block;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.8rem;
  width: 8.8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(201, 220, 251) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(201, 220, 251);
  /* color: white; */
}

.btn-color-1:hover {
  background: rgb(255, 255, 255);
  color: rgb(6, 46, 111);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.btn-icon {
  font-size: 1.1rem;
  vertical-align: bottom;
}

.icon-color {
    color: rgb(6, 46, 111);
}

.icon-color:hover {
    color: rgba(6, 46, 111, 0.74);
}

/* Media Queries */

@media screen and (max-width: 1400px) {
  section {
    padding-top: 8vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .section__text {
    padding-top: 2vh;
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding-top: 12vh;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .section__text {
    padding-top: 2vh;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding-top: 12vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .section__pic-container {
    width: auto;
    height: 50vw;
    justify-content: center;
  }
  .section__text__p1 {
    text-align: left;
    color: rgba(0, 0, 0, 0.741)
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .section__text {
    padding-top: 2vh;
  }
}
