.testimonials_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: auto;
}

.testimonial-text {
  color: black !important;
}

.testimonial-witness_name svg {
  vertical-align: middle;
}

.testimonial-witness_name a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .testimonial-text {
    text-align: center;
  }
  .testimonials_section {
    grid-template-columns: 1fr;
  }
}
